@model IEnumerable<CS322_PZ_V02_BojanPetrovic2745.Patient>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jmbg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.simptomi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.terapija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.izlecen)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jmbg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.simptomi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terapija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.izlecen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDpa }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDpa }) |
            </td>
        </tr>
    }

</table>